{% extends "layout.html" %}
{% block body %}
  <h1>{{ name }}, you are successfully logged in</h1>
  <br>
  </p>Please click here to access the top secret file <a href={{ url }}>Access</a>
{% endblock %}